<%#
# Administrators Show Partial

This partial renders administrators relationship with only Name, Email, and Phone columns.
%>

<% if field.resources.any? %>
  <table>
    <thead>
      <tr>
        <th class="cell-label">Name</th>
        <th class="cell-label">Email</th>
        <th class="cell-label">Phone</th>
      </tr>
    </thead>
    <tbody>
      <% field.resources.each do |resource| %>
        <tr>
          <td class="cell-data">
            <% if accessible_action?(resource, :show) -%>
              <%= link_to(resource.name || '-', [:super_admin, resource]) %>
            <% else %>
              <%= resource.name || '-' %>
            <% end -%>
          </td>
          <td class="cell-data"><%= resource.email || '-' %></td>
          <td class="cell-data"><%= resource.phone || '-' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= t("administrate.fields.has_many.none", default: "–") %>
<% end %>
